@model MusicStore.Models.Music

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Music</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.performer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.performer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.typeOfPurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.typeOfPurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
